name: Upload Parser CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11.0.10, 16 ]
    steps:
      - uses: actions/checkout@master
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Gradle
        run: ./gradlew build
      - name: Create root report
        run: ./gradlew jacocoRootReport
      - uses: codecov/codecov-action@v1
        with:
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
